body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #915a44;
  background-color: rgba(225, 225, 225, .1);
}

a {
  cursor: pointer;
}

.page-block {
  padding-top: 30px;
  padding-bottom: 30px;
  p {
    margin: 2em 0;
  }
}

h2, h3 {
  color: $blue;
}

img {
  max-width: 100%;
}