section.product-map
  .container.page-block
    div.row
      div.col-xs-12.col-md-6
        h3 乡村的数字信息化
        p.
          海惠·小母牛和一家软件公司联合打造了一个合作社信息平台，帮助偏远社区接入互联网，销售农产品。互联网进村，还可以帮助农户提高数字化生活能力，如在电商平台购买生活物资，在线投资理财，便捷地获取各种生活生产信息。
        p.
          海惠·小母牛将从现有60多个合作社中筛选出10个合作社，为他们提供接入网络销售平台的终端设备，并提供电子商务操作员培训。项目预计讲帮助800户贫困农户建立基于互联网的原材料采购，产品销售和质量追溯体系。思特沃克软件技术（ThoughtWorks）公司、山楂科技公司将作为公益伙伴，提供全程技术支持。
      div.col-xs-12.col-md-6
        img(src='assets/images/product-map.png')