section.recommend-product
  .container.page-block
    .row.head
      .col-md-10
        h3 产品推荐
      .col-md-2.text-right
        a(href='product-landing.html').btn.btn-primary 更多农产品信息
    .row.product-block
      include ../common/tabs.jade

    include ../common/product-list.jade

    .row.head
      .col-md-10
        h3 合作社
      .col-md-2.text-right
        a.btn.btn-primary 更多合作社信息

    include ../common/coop-list.jade