section.story-block
  .container.page-block
    .row
      .col-md-4.col-xs-12
        h3 礼品传递
        img(src='assets/images/story-1.png')
        p.
          “传递礼品”是小母牛的分享与关怀哲学之具体体现。每一个接受家畜的家庭要签订一份合同，同意传递第一只后代母畜给需要帮助的另一个家庭。同时还要答应把自己学到的知识和技能传递给别人。许多项目还采取多“回传”一头家畜或部分销售收入的办法支持他们的项目
      .col-md-4.col-xs-12
        h3 礼品传递的幸福指数
        img(src='assets/images/story-2.png')
        p.
          1984年，小母牛大邑养兔项目启动，任旭平作为首批受援农户在发展成功后并没有忘记“礼品传递”的承诺，20多年来从任旭平手中传递出的礼品兔已达2万多只。
      .col-md-4.col-xs-12
        h3 改变
    .row
      .col-md-12
        a.btn.btn-info 查看故事