doctype html
html(lang="zh")
  head
    include ./partials/headlibs.jade
    title= 合作社
  body(data-page='coops-landing')
    include ./partials/nav.jade

    section.hero-banner
      .container
        h1 合作社一览
        p 入驻海惠·小母牛合作社
    
    include ./partials/landing/coop-main.jade

    include ./partials/footer.jade

    include ./partials/libs.jade