doctype html
html(lang="zh")
  head
    include ./partials/headlibs.jade
    title= 合作社
  body(data-page='coops-landing')
    include ./partials/nav.jade

    include ./partials/landing/banner.jade
    
    include ./partials/landing/coop-main.jade

    include ./partials/footer.jade

    include ./partials/libs.jade