doctype html
html(lang="zh")
  head
    include ./partials/headlibs.jade
    title= 常见问题
  body(data-page='product-detail')
    include ./partials/nav.jade

    section.hero-banner.banner--1
      .container
        h1 常见问题
        p 此页面只是例子

    section
      .container.page-block
        include ./partials/common/faq-list.jade

    section.bg-white
      .container.page-block--lg
        include ./partials/common/story-list.jade

    section
      .container.page-block
        .head
          h3.with-line
            i.icon-basket
            span 更多产品
        ul.row.image-list
          include ./partials/common/product-list-4items.jade
        .text-center
          a(href='product-landing.html').btn.btn-primary.btn-lg 查看更多

    include ./partials/footer.jade

    include ./partials/libs.jade