doctype html
html(lang="zh")
  head
    include ./partials/headlibs.jade
    title= 首页
  body(data-page='index')
    include ./partials/nav.jade

    include ./partials/homepage/banner.jade
    include ./partials/homepage/product-map.jade
    include ./partials/homepage/story-block.jade
    include ./partials/homepage/recommend-product.jade

    include ./partials/footer.jade

    include ./partials/libs.jade