doctype html
html(lang="zh")
  head
    include ./partials/headlibs.jade
    title= 锡林郭勒草原黄牛牛腩
  body
    include ./partials/nav.jade

    include ./partials/detail/banner.jade

    section
      .container.page-block
        include ./partials/detail/page-nav.jade
        include ./partials/detail/product-detail.jade

    section.bg-white
      .container.page-block--lg
        include ./partials/common/story-list.jade

    section
      .container.page-block
        .head
          h3.with-line 更多产品
        ul.row
          include ./partials/common/product-list-4items.jade
        .text-center
          a.btn.btn-primary.btn-lg 查看更多

    include ./partials/footer.jade

    include ./partials/libs.jade