footer
  .container
    .row
      .col-md-6.col-xs-12
        .row
          .col-md-3.col-xs-12
            h5 农产品
            ul.list-unstyled
              li
                a(href='product-landing.html') 畜产品
              li
                a(href='product-landing.html') 小杂粮
              li
                a(href='product-landing.html') 特色水果
              li
                a(href='product-landing.html') 特色山货
          .col-md-3.col-xs-12
            h5 合作社
            ul.list-unstyled
              li
                a 合作社一览
              li
                a 入驻
          .col-md-3.col-xs-12
            h5 常见问题
            ul.list-unstyled
              li
                a 如何购买？
              li
                a 如何配送？
              li
                a 如何入驻平台？
          .col-md-3.col-xs-12
            h5 关于我们
            ul.list-unstyled
              li
                a 海惠·小母牛
              li
                a 小母牛项目
              li
                a 公益合作伙伴
              li
                a 加入小母牛
      .col-md-5.col-xs-12.col-md-offset-1
        .row
          .col-md-4.col-xs-12
            h5 联系我们
            ul.list-unstyled
              li 地址：中国·四川·成都·大邑县建川博物馆
              li 电话：400-823-8823
          .col-md-4.col-xs-6
            h5 关注我们
            ul.list-unstyled
              li 关注微信
              li 关注新浪微博
          .col-md-4.col-xs-6
            p 这是我们的微信
    .row.copyright
      .col-md-12.text-center
        p Copyright © Heiferchina.Org All Rights Reserved. 网站设计 ThoughtWorks
