nav
  .container
    .row
      ul.list-inline.nav.col-md-9
        li
          a(href='/index.html') Logo
        li.active
          a(href='/index.html') 首页
        li
          a(href='/product-landing.html') 农产品
        li
          a(href='/') 合作社
        li
          a(href='/') 常见问题
        li
          a(href='/') 关于我们
      .search-box.col-md-3
        i.icon-search
        input(placeholder='请输入关键字')