.page-nav.text-center
  .ul.list-inline
    li
      a(href='#product') 农产品
    li
      a(href='#detail') 合作社介绍
    li
      a(href='#story') 农户故事
    li
      a(href='#news') 新闻/奖励
    li
      a(href='#contact') 联系方式