.detail-block(id='product')
  h3.with-line
    i.icon-star-filled
    span 农产品
  ul.row.image-list
    include ../common/product-list-4items.jade
  p.text-center
    a.btn.btn-primary.btn-lg(href='product-landing.html') 查看更多

.detail-block(id='detail')
  h3.with-line
    i.icon-book-open
    span 合作社介绍
  p.
    围场满族蒙古族自治县育金农作物种植专业合作社地址设在国家重点风景名胜区，评为中国“十大特色休闲城市”的承德，河北 承德 燕格柏乡阿抹村一组，联系人是赵中华，于2015年2月6日在承德工商局登记注册挂牌成立，单位注册资本未提供。
  p.
    2015年2月10日燕格柏乡阿抹村“育金农作物种植专业合作社”正式成立。“育金农作物种植专业合作”由106位农民组成，成员出资额为353万元，是一家100%的农民专业合作社。合作社主要以种植马铃薯、蔬菜、中药材和贮藏、销售以及组织采购，供应成员所需的农业生产资料；新品种、新技术的引进，推广、技术和信息服务；组织本社成员开展播种、机收及其他农业工作为经营服务项目。
  p.
    成立当日合作社社长赵忠华邀请了围场小母牛项目办的工作人员参加了开业活动，王钟老师为合作社成员讲解了为什么要组建合作社及合作社的发展及运营，大家听得聚精会神，积极的提出不懂的问题，社员对参加合作社的兴趣非常高，并抱对合作社的发展有很高的希望。
  p.text-center
    img(src='assets/images/coop-1.png')

.detail-block(id='story')
  h3.with-line
    i.icon-book-open
    span 农户故事
  include ../common/story-list.jade

.detail-block(id='news')
  h3.with-line
    i.icon-book-open
    span 新闻/奖励
  include ../common/news-list.jade

.detail-block(id='contact')
  h3.with-line
    i.icon-book-open
    span 联系方式
  p 400-823-8823 肯女士
  p 微信号：weichang_coop

