.page-nav.text-center
  .ul.list-inline
    li
      a(href='#detail') 产品描述
    li
      a(href='#season') 数量级/季节
    li
      a(href='#production') 生产方式
    li
      a(href='#transport') 包装/运输/储存
    li
      a(href='#contact') 联系方式