.detail-block(id='detail')
  h3.with-line
    i.icon-book-open
    span 产品描述
  p.
    来自内蒙古呼伦贝尔大草原，羊食百草，行千里，腥味小，营养价值高，食补首选！
  p.
    来自内蒙古呼伦贝尔大草原，羊食百草，行千里，腥味小，营养价值高，食补首选！
  p.
    来自内蒙古呼伦贝尔大草原，羊食百草，行千里，腥味小，营养价值高，食补首选！
  p.
    来自内蒙古呼伦贝尔大草原，羊食百草，行千里，腥味小，营养价值高，食补首选！
  img(src='assets/images/sheep-1.jpg')

.detail-block(id='season')
  h3.with-line
    i.icon-book-open
    span 数量级/季节
  p 来自内蒙古呼伦贝尔大草原，羊食百草，行千里，腥味小，营养价值高，食补首选！

.detail-block(id='production')
  h3.with-line
    i.icon-book-open
    span 生产方式
  p 来自内蒙古呼伦贝尔大草原，羊食百草，行千里，腥味小，营养价值高，食补首选！

.detail-block(id='transport')
  h3.with-line
    i.icon-book-open
    span 包装/运输/储存
  p 来自内蒙古呼伦贝尔大草原，羊食百草，行千里，腥味小，营养价值高，食补首选！
  img(src='assets/images/banner-1.jpg')

.detail-block(id='contact')
  h3.with-line
    i.icon-book-open
    span 联系方式
  p 400-823-8823 肯女士

