.image-list {
  list-style: none;
  margin: 40px 0 0 0;
  padding: 0;
  li {
    margin-top: 20px;
    h4 {
      margin-top: 20px;
      margin-bottom: 5px;
    }
    small {
      opacity: 0.8;
    }
    p {
      font-size: 0.9em;
      opacity: 0.8;
      margin: 1em 0;
    }
  }
}