ul.row.image-list.coop-list
  li.col-md-4.col-sm-6.col-xs-12
    img(src='assets/images/coop-1.png')
    h4 鼎丰养殖合作社
    small 河北省承德市围场满足蒙古族自治县
    p.
      合作社介绍
  li.col-md-4.col-sm-6.col-xs-12
    img(src='assets/images/coop-2.png')
    h4 四川大凉山合作社
    small 燕格柏乡育金农作物种植专业合作社
    p.
      来自内蒙古呼伦贝尔大草原，羊食百草，行千里，腥味小，营养价值高，食补首选！
  li.col-md-4.col-sm-6.col-xs-12
    img(src='assets/images/coop-1.png')
    h4 陕西洛川合作社
    small 陕西洛川华源苹果专业合作社
    p.
      产地直供，苹果色泽艳丽，个大皮薄，脆甜多汁，果香浓郁，口感绝佳。