ul.row.faq-list
  li
    h4 如何在网上购买合作社农产品？
    p.
      请根据产品页面的联系方式联系所属农户直接购买，请不要相信虚假网站链接、银行卡号等信息，如需帮助，请联系小母牛投诉电话400-823-8823进行帮助，谢谢！
  li
    h4 我购买的产品将如何配送？
    p.
      您在海惠小母牛购买的所有农产品将由我们合作的快递黑猫宅配进行统一配送，所有生鲜产品保证冷链配送，省会城市发货后24小时到货，其他产品1~5天到货。请您放心购买。
  li
    h4 如何入驻平台？
    p.
      如果我是一名农户，我怎么样可以入驻该平台？首先，你需要加入小母牛互助计划，然后我们的工作人员会联系您进入下一步评估。
  li
    h4 如果买到的产品不满意怎么办？
    p.
      如果产品不属于新鲜农产品，可以联系农户进行退货处理。请根据产品页面的联系方式联系所属农户直接购买，请不要相信虚假网站链接、银行卡号等信息，如需帮助，请联系小母牛投诉电话400-823-8823进行帮助，谢谢！
  li
    h4 购买这些农产品是否能帮助到当地农户？
    p.
      是的！请根据产品页面的联系方式联系所属农户直接购买，请不要相信虚假网站链接、银行卡号等信息，如需帮助，请联系小母牛投诉电话400-823-8823进行帮助，谢谢！
  li
    h4 如何在网上购买合作社农产品？
    p.
      请根据产品页面的联系方式联系所属农户直接购买，请不要相信虚假网站链接、银行卡号等信息，如需帮助，请联系小母牛投诉电话400-823-8823进行帮助，谢谢！
  li
    h4 如何在网上购买合作社农产品？
    p.
      请根据产品页面的联系方式联系所属农户直接购买，请不要相信虚假网站链接、银行卡号等信息，如需帮助，请联系小母牛投诉电话400-823-8823进行帮助，谢谢！
  li
    h4 如果买到的产品不满意怎么办？
    p.
      如果产品不属于新鲜农产品，可以联系农户进行退货处理。请根据产品页面的联系方式联系所属农户直接购买，请不要相信虚假网站链接、银行卡号等信息，如需帮助，请联系小母牛投诉电话400-823-8823进行帮助，谢谢！
  li
    h4 购买这些农产品是否能帮助到当地农户？
    p.
      是的！请根据产品页面的联系方式联系所属农户直接购买，请不要相信虚假网站链接、银行卡号等信息，如需帮助，请联系小母牛投诉电话400-823-8823进行帮助，谢谢！