ul.row.faq-list
  li
    h4 如何在网上购买合作社农产品？
    p.
      请根据产品页面的联系方式联系所属农户直接购买，请不要相信虚假网站链接、银行卡号等信息，如需帮助，请联系小母牛投诉电话400-823-8823进行帮助，谢谢！
  li
    h4 如果买到的产品不满意怎么办？
    p.
      如果产品不属于新鲜农产品，可以联系农户进行退货处理。请根据产品页面的联系方式联系所属农户直接购买，请不要相信虚假网站链接、银行卡号等信息，如需帮助，请联系小母牛投诉电话400-823-8823进行帮助，谢谢！
  li
    h4 购买这些农产品是否能帮助到当地农户？
    p.
      是的！请根据产品页面的联系方式联系所属农户直接购买，请不要相信虚假网站链接、银行卡号等信息，如需帮助，请联系小母牛投诉电话400-823-8823进行帮助，谢谢！
  li
    h4 如何在网上购买合作社农产品？
    p.
      请根据产品页面的联系方式联系所属农户直接购买，请不要相信虚假网站链接、银行卡号等信息，如需帮助，请联系小母牛投诉电话400-823-8823进行帮助，谢谢！
  li
    h4 如何在网上购买合作社农产品？
    p.
      请根据产品页面的联系方式联系所属农户直接购买，请不要相信虚假网站链接、银行卡号等信息，如需帮助，请联系小母牛投诉电话400-823-8823进行帮助，谢谢！
  li
    h4 如果买到的产品不满意怎么办？
    p.
      如果产品不属于新鲜农产品，可以联系农户进行退货处理。请根据产品页面的联系方式联系所属农户直接购买，请不要相信虚假网站链接、银行卡号等信息，如需帮助，请联系小母牛投诉电话400-823-8823进行帮助，谢谢！
  li
    h4 购买这些农产品是否能帮助到当地农户？
    p.
      是的！请根据产品页面的联系方式联系所属农户直接购买，请不要相信虚假网站链接、银行卡号等信息，如需帮助，请联系小母牛投诉电话400-823-8823进行帮助，谢谢！