ul.row.image-list
  li.col-md-4.col-sm-6.col-xs-12
    a(href='/') 
      img(src='assets/images/bee-1.png')
    h4 
      a(href='/') 合作社春季新品
    p.
      河北围场合作社春季最新农产品已经上架，请新老顾客前来购买。本季新品有蜂蜜、小麦、小米等等。
  li.col-md-4.col-sm-6.col-xs-12
    a(href='/') 
      img(src='assets/images/bee-1.png')
    h4 
      a(href='/') 合作社春季新品
    p.
      河北围场合作社春季最新农产品已经上架，请新老顾客前来购买。本季新品有蜂蜜、小麦、小米等等。
  li.col-md-4.col-sm-6.col-xs-12
    a(href='/') 
      img(src='assets/images/bee-1.png')
    h4 
      a(href='/') 合作社春季新品
    p.
      河北围场合作社春季最新农产品已经上架，请新老顾客前来购买。本季新品有蜂蜜、小麦、小米等等。
