li.col-md-3.col-sm-6.col-xs-12
  a(href='product-detail.html') 
    img(src='assets/images/product-1.png')
  h4 
    a(href='product-detail.html') 内蒙古呼伦贝尔新鲜牛排
  small 内蒙古呼伦贝尔市熹里羊产业专业社
  p.
    来自内蒙古呼伦贝尔大草原，羊食百草，行千里，腥味小，营养价值高，食补首选！
li.col-md-3.col-sm-6.col-xs-12
  a(href='product-detail.html') 
    img(src='assets/images/product-2.png')
  h4
    a(href='product-detail.html')  四川大凉山全胚芽黑苦荞茶
  small 燕格柏乡育金农作物种植专业合作社
  p.
    来自内蒙古呼伦贝尔大草原，羊食百草，行千里，腥味小，营养价值高，食补首选！
li.col-md-3.col-sm-6.col-xs-12
  a(href='product-detail.html') 
    img(src='assets/images/product-3.png')
  h4
    a(href='product-detail.html')  陕西洛川红富士苹果
  small 陕西洛川华源苹果专业合作社
  p.
    产地直供，苹果色泽艳丽，个大皮薄，脆甜多汁，果香浓郁，口感绝佳。
li.col-md-3.col-sm-6.col-xs-12
  a(href='product-detail.html') 
    img(src='assets/images/product-4.png')
  h4
    a(href='product-detail.html')  甘南草原牦牛肉
  small 甘南州天鸿养殖加工农牧民专业合作社
  p.
    甘南雪域草原，是牦牛的天然生态区，牦牛肉质量居全国之首。牦牛是在半野生的状态下成长的，吃的是冬虫夏草，饮的是天然矿泉水，富含各种维生素。