ul.row.story-list
  li.col-md-6.col-xs-12.text-center
    .image-wrapper.image-1
      h3 来自新疆的野生纯净蜂蜜
      p.
        “传递礼品”是小母牛的分享与关怀哲学之具体体现。每一个接受家畜的家庭要签订一份合同，同意传递第一只后代母畜给需要帮助的另一个家庭。同时还要答应把自己学到的知识和技能传递给别人。许多项目还采取多“回传”一头家畜或部分销售收入的办法支持他们的项目。
      a.btn.btn-default 阅读故事
  li.col-md-6.col-xs-12.text-center
    .image-wrapper.image-2
      h3 让生态鸡蛋飞出大山
      p.
        “传递礼品”是小母牛的分享与关怀哲学之具体体现。每一个接受家畜的家庭要签订一份合同，同意传递第一只后代母畜给需要帮助的另一个家庭。同时还要答应把自己学到的知识和技能传递给别人。许多项目还采取多“回传”一头家畜或部分销售收入的办法支持他们的项目。
      a.btn.btn-default 阅读故事