.col-md-9.col-xs-12.tab-contents
  .tab-content.tab-1.active
    .row
      .col-md-6
        img(src='assets/images/sheep-1.jpg')
      .col-md-6
        h4 内蒙古乌珠穆沁羔羊肉
        small 内蒙古赤峰市巴林右旗宏兴肉羊合作社
        p.
          巴林右旗宏兴肉羊专业合作社总监毕西日勒图表示，重视食品安全已成为衡量人民生活水平、社会管理和国家法制建设的一个重要方面。建立完善的食品安全监管系统，使企业自律，保障食品质量安全是必然选择。通过建立羊肉全产业链追溯体系，构建放心羊肉市场，必能树立人民群众对肉类食品安全的信心，共同开创中国肉类食品的美好明天。
        div.text-right
          a.btn.btn-primary 查看全部畜产品
  .tab-content.tab-2
    .row
      .col-md-6
        img(src='assets/images/mushroom-1.png')
      .col-md-6
        h4 蘑菇
        small 云南省
        p.
          巴林右旗宏兴肉羊专业合作社总监毕西日勒图表示，重视食品安全已成为衡量人民生活水平、社会管理和国家法制建设的一个重要方面。建立完善的食品安全监管系统，使企业自律，保障食品质量安全是必然选择。通过建立羊肉全产业链追溯体系，构建放心羊肉市场，必能树立人民群众对肉类食品安全的信心，共同开创中国肉类食品的美好明天。
        div.text-right
          a.btn.btn-primary 查看全部小杂粮
  .tab-content.tab-3
    .row
      .col-md-6
        img(src='assets/images/bee-1.png')
      .col-md-6
        h4 新疆蜂蜜
        small 新疆乌鲁木齐
        p.
          巴林右旗宏兴肉羊专业合作社总监毕西日勒图表示，重视食品安全已成为衡量人民生活水平、社会管理和国家法制建设的一个重要方面。建立完善的食品安全监管系统，使企业自律，保障食品质量安全是必然选择。通过建立羊肉全产业链追溯体系，构建放心羊肉市场，必能树立人民群众对肉类食品安全的信心，共同开创中国肉类食品的美好明天。
        div.text-right
          a.btn.btn-primary 查看全部特色山货
  .tab-content.tab-4
    .row
      .col-md-6
        img(src='assets/images/sheep-1.jpg')
      .col-md-6
        h4 山梨
        small 四川省
        p.
          巴林右旗宏兴肉羊专业合作社总监毕西日勒图表示，重视食品安全已成为衡量人民生活水平、社会管理和国家法制建设的一个重要方面。建立完善的食品安全监管系统，使企业自律，保障食品质量安全是必然选择。通过建立羊肉全产业链追溯体系，构建放心羊肉市场，必能树立人民群众对肉类食品安全的信心，共同开创中国肉类食品的美好明天。
        div.text-right
          a.btn.btn-primary 查看全部特色水果
.col-md-2.col-xs-12.col-md-offset-1
  ul.tabs
    li.tab.active
      a(data-tab='tab-1') 畜产品
    li.tab
      a(data-tab='tab-2') 小杂粮
    li.tab
      a(data-tab='tab-3') 特色山货
    li.tab
      a(data-tab='tab-4') 特色水果