.row
  .col-md-10.col-xs-12
    ul.list-inline
      li
        button.btn.btn-default 畜产品
      li
        button.btn.btn-default 小杂粮
      li
        button.btn.btn-default 特色山货
      li
        button.btn.btn-default 特色水果
  .col-md-2.col-xs-12.text-right
    button.btn.btn-default 全部地区
      i.icon-down-dir
